/* CSS Reset */
*{
    margin : 0px;
    padding : 0px;
}
html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Noto Sans JP', sans-serif;
    
}
/* Navbar Section */
#navbar-section{
    background-color: rgb(20, 24, 32);
   
}
#navbar{
 display : flex;
 align-items :center;
 justify-items: center;
 margin : 10px 16px;
 padding : 10px 10px;

}
#navbar img{
    width : 80px;
    margin: -20px 5px;
}
#navbar ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin : 10px 20px;
    padding : 0px 5px
}
.nav-item{
    text-decoration: none;
    /* margin : 2px;
    padding : 2px; */
}
#navbar ul a{
    text-decoration: none;
    margin : 10px 20px;
    padding : 6px 20px;
    color: white;
}
#navbar ul a:hover{
    
    border : 0px black solid;
    background-color: rgb(255, 253, 248);
    border-radius: 50px;
    color: black;
}

/* Hero Section */
#hero-section{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 400px;
    margin-bottom: 52px;
}
#hero-section .container{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hero-heading{
    padding: 15px 10px;
    margin : 15px 10px;  
}
/* .container #name{
    position : relative;
    right : 25px;
    font-size: 2.9rem;
    text-align: right;
    padding: 8px;
    margin : 8px;
    margin-top: 2px;  
    padding-top: 2px;  
} */
.primary-heading{
    font-size: 2.4rem;
    padding: 10px;
    margin : 10px;
    text-align: center;
}
#hero-heading p{
    font-size: 1.3rem;
    width :60%;
    text-align: center;
    margin : 5px auto;
    /* position : relative;
    top : 30px; */
}
#hero-heading span{
    background-color: rgb(230, 46, 46);
    color: rgb(238, 238, 238);
    padding : 2px 2px;
}
#hero-section::before{
    content: "";
    background: url("../images/heroimg.jpg") no-repeat center center/cover ;
    position: absolute;
    width: 100%;
    height: 70%;
    z-index: -1;
    top: 0px;
    left: 0px;
    opacity: 0.6;
    margin-bottom: 20px;
}
#hero-button a{
    text-decoration: none;
    color: black;
    /* margin : 10px 20px; */
    /* padding : 6px 20px; */
}
#hero-button{
    font-size: 1rem;
    border : 1px rgb(59, 34, 0) solid;
    border-radius: 20px;
    margin: 5px;
    padding : 6px 20px;
    background-color:rgb(255, 217, 0);
}

/* Content Section */
#content-section{
    height : 650px;
    background-color: black;
    color: white;
    
}
#content-section .primary-heading{
    padding-top: 30px;
}
#content-section .container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin :  10px auto;
}
#content-section .content{
    /* display: flex;
    flex-direction: column; */
    color: black;
    height: 400px;
    width : 28%;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 4px;
    margin : 15px 10px;
    padding : 20px ;
    background-color: rgb(241, 237, 234);
}
#content-section .content:hover{
    position : relative;
    top : -5px;
    left : 5px;
    background-color: rgb(248, 226, 209);
}
.content-head{
    text-align: center;
}
.content img{
    display: block;
    height :220px;
    width : 350px;
    margin: 30px auto;
}
.content p{
    display: block;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
}
.content-para{
    text-align: center;
}

/* Chaos-section */
#chaos-section{
    height : 650px;
    background-color: rgb(255, 234, 234);
    color: rgb(0, 0, 0);
    margin-top: -10px;
}
#chaos-section .primary-heading{
    padding-top: 30px;
}
#chaos-section .container{
    position: relative;
    top: 70px;
    left: 200px;
    height: 350px;
    width: 300px;
    background-color: rgb(185, 185, 185);
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 10px;
    box-shadow: rgb(26, 26, 26) 10px 10px;
}
#chaos-section .container ul{
    padding : 20px 30px;
    color: white;
}
#chaos-section .container li{
    text-shadow: rgb(41, 41, 41) 1px 1px;
}
#chaos-section #dialogue{
    display: inline-block;
    position: relative;
    top: -170px;
    left : 600px;
    font-size: 1.5rem;
    background-color: teal;
    color: whitesmoke;
    padding: 10px;
    box-shadow: rgb(131, 131, 131) 7px 7px;
}

/* idea section */
#idea-section{
    height : 360px;
    background-color: black;
    color: white;
    margin-top: -10px;
    
}
#idea-section .primary-heading{
    padding-top: 30px;
}
#idea-section .container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin :  10px auto;
}
#idea-section .content{
    /* display: flex;
    flex-direction: column; */
    color: black;
    height: 70px;
    width : 28%;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 4px;
    margin : 15px 10px;
    padding : 20px ;
    background-color: rgb(241, 237, 234);
}

#idea-section .content:hover{
    position : relative;
    top : -5px;
    left : 5px;
    background-color: rgb(248, 226, 209);
}
.content-head{
    text-align: center;
}

#gfg-section{
    height : 360px;
    background-color: black;
    color: white;
    margin-top: -30px;
}
#newM{
    text-align: center;
    width: 900px;
    margin: 50px auto;
    /* margin: 50px 10px; */
    padding : 10px 5px;
    font-size: 1.3rem;
    color: rgb(248, 248, 248);
    background-color: rgb(66, 66, 66);
    box-shadow: rgb(255, 253, 231) 5px 5px;
}